.solution {
  &__para {
    width: 80%;
    margin: 0 auto;
  }
  &-btn-info{
    background-color: #f4f4f4;
    border: none;
    padding: 1rem;
    width: 25%;
  }
 
  &__list {
    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        color: #333333;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  &__tab .sub-btn{
    width: 25%;
  }
}

.solution__list{
  display: none;
}

/* RESPONSIVE */

// SMALL DEVICE

@media screen and (max-width: 767px) {
 
  .solution__list ul li{
    font-size: calc(.5rem + 1vw);
        
  }
  .solution-btn-info{
    width: 33%;

  }
  .solution__tab .sub-btn{
    width: 50%;
  }
 
  .solution__btn span{
    font-size: calc(.2rem + 1vw);
  }
 .solution-left-side img{
  display: none;
 }
 
}

// MEDIUM DEVICE

@media screen and (min-width:768px) and (max-width:992px) {
  .solution__tab .sub-btn{
    width: 50%;
  }
  .solution__list ul li{
    font-size: calc(.3rem + 1vw);
        
  }
  .solution__btn span{
    font-size: calc(.2rem + 1vw);
  }
 
}
